.main {
	margin: auto;
	max-width: 50vw;
	align-items: center;
}

.title {
	text-align: center;
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
	color: #0070f3;
}

.card {
	width: 100%;
	display: block;
	margin: 1rem;
	padding: 1.5rem;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
	color: #0070f3;
	border-color: #0070f3;
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.header {
	font-size: small;
	display: flex;
}

.authorFullName {
	color: black;
}

.authorUserName {
	color: #36393f;
	padding-left: 1vw;
}

.date {
	color: #36393f;
	font-size: small;
}
